[submodule "src/third_party/pybind11"]
    path = src/third_party/pybind11
    url = https://git.qcjzai.cn/github-mirror/pybind11.git
[submodule "src/third_party/spdlog"]
    path = src/third_party/spdlog
    url = https://git.qcjzai.cn/github-mirror/spdlog.git
[submodule "src/third_party/googletest"]
    path = src/third_party/googletest
    url = https://git.qcjzai.cn/github-mirror/googletest.git
[submodule "third_party/EETQ"]
    path = third_party/EETQ
    url = https://git.qcjzai.cn/github-mirror/EETQ.git
[submodule "third_party/llm-awq"]
    path = third_party/llm-awq
    url = https://git.qcjzai.cn/github-mirror/llm-awq.git
[submodule "third_party/AutoGPTQ"]
    path = third_party/AutoGPTQ
    url = https://git.qcjzai.cn/github-mirror/AutoGPTQ.git
