[submodule "third_party/spdlog"]
    path = third_party/spdlog
    url = https://github.com/gabime/spdlog.git
[submodule "third_party/EETQ"]
    path = third_party/EETQ
    url = https://github.com/NetEase-FuXi/EETQ.git
[submodule "third_party/llm-awq"]
    path = third_party/llm-awq
    url = https://github.com/mit-han-lab/llm-awq.git
[submodule "third_party/AutoGPTQ"]
    path = third_party/AutoGPTQ
    url = https://github.com/AutoGPTQ/AutoGPTQ.git
[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "third_party/FlashMLA"]
	path = third_party/FlashMLA
	url = https://github.com/deepseek-ai/FlashMLA.git
