setuptools>=77.0.3,<81  # <81 is for `from pkg_resources import packaging` compatibility, including in submodules
wheel
cmake
ninja
cython<3.3.0  # Cython 3.30 rejects multiple declarations of the same variable
packaging
pybind11
py-cpuinfo
